<%- include('../partials/header')-%>


<div class="container">

  <div class="card mt-4">
     <div class="card-header">
         <h2 class="card-title"> Entrada</h2>
     </div>

     <div class="card-body">

      <form action="/entrar" method="POST">
        <h1> <%= erroUsu %>  </h1>
         <label for="email">Email:</label>
         <input class="form-control" type="email" name="email" >
         <%= emailError %><br>
         <label for="senha">Senha:</label>
         <input class="form-control" type="password" name="senha" >
         <%= senhaError %><br>
    
         <button class="btn btn-secondary" type="submit">Entrar</button>

       </form>



     </div>

     <div class="card-footer">

        <a class="btn btn-secondary"  href="/criarInicial"><i class="fa-solid fa-user-plus"></i>Criar Inicial</a>
     </div>
  </div>





</div>



   
<%- include('../partials/footer')-%>