<%- include('../partials/header')-%>


<div class="container" >


<div class="card mt-3">
    <div class="card-header">
        <h3 class="card-title">Controle de itens</h3>
    </div>

    <div class="card-body">
        
        <form action="/itens/atualizar" method="post" enctype="multipart/form-data">

           <input type="hidden" name="id" value="<%= item.id %>" >
           <label for="codigo">Côdigo</label>
           <input value="<%= item.codigo %>" class="form-control" type="text" name="codigo">
           <label for="nome">Nome:</label>
           <input value="<%= item.nome %>" class="form-control" type="text" name="nome">
           <label  for="detalhes">Detalhes:</label>
           <input value="<%= item.detalhes %>" class="form-control" type="text" name="detalhes">
           <label  for="preco">Preço:</label>
           <input value="<%= item.preco %>" class="form-control" type="text" name="preco">
           <label>Quantidade em estoque</label>
           <input type="number" class="form-control" name="quantidade" value="<%= item.quantidade %>" >


           <div class="card">
          
           <div class="card" style="height: 10%; width: 10%;">
            <div class="card-body">
               <img class="card-img" src=".../../../../<%= item.imagem %>" alt="Imagem do item">
            </div>
            
            
            </div>

            <input class="form-control" type="file" name="imagem" accept="image/*" required><br>

           <button type="submit" class="btn btn-secondary mt-3" >Atualizar</button>
        </form>
    </div>
    <div class="card-footer">
         <a class="btn btn-secondary" href="/itens"><i class="fa-solid fa-xmark"></i></a>
    </div>

   
    </div>
</div>
</div>
<%- include('../partials/footer')-%>