<%- include('../partials/header')-%>

<style>
    .produto {
        display: none; /* inicialmente oculta */
    }
</style>

<div class="card mt-3 col-md-3 ">
     <div class="card-header">
         <h3 class="card-title">Controle de itens</h3>
     </div>

     <div class="card-body">
         <form id="itemForm" action="/itens/cadastrar" method="post" enctype="multipart/form-data" >

            <label for="codigo">Côdigo</label>
            <input class="form-control" type="text" name="codigo">
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" name="nome">
            <label for="detalhes">Detalhes:</label>
            <textarea class="form-control mb-2" type="text" name="detalhes"></textarea>

            <input class="form-control" type="file" name="imagem" accept="image/*" multiple><br>
           
            <label for="preco">Preço:</label>
            <input class="form-control" type="text" id="preco" name="preco">
            <button type="submit" class="btn btn-secondary mt-3" ><i class="fa-solid fa-floppy-disk"></i></button>

            <a class="btn btn-secondary mt-3" href="http://localhost:8070/"><i class="fa-solid fa-xmark"></i></i></a>
            
            <a class="btn btn-secondary mt-3" href="/itens"><i class="fa-solid fa-arrows-rotate"></i></a>
         </form>
     </div>

     <div class="footer">
        <div class="card-footer">
            
       </div>
     </div>
</div>




<div class="card mt-3 col-md-9 ">
    <div class="card-header" style="display: flex;">
        <h3 class="card-title">Itens cadastrados</h3>
       
        <button type="button" class="btn btn-secondary" style="margin-left: 10%;" data-toggle="modal" data-target="#exampleModal">
            <i class="fa-duotone fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <div class="card-body">

        

       
       <div style="overflow-x: auto; max-height: 90%; scrollbar-width: thin;">
        <ul class="list-group">
            <% itens.forEach(iten=>{ %>
                <li class="list-group-item" style="display: flex; font-size: 125%;">
                    <%= iten.codigo %>-
                    <%= iten.nome %>
                    <form class="" action="/itens/apagar" method="post">

                        <input type="hidden" value="<%= iten.id %>" name="id">

                        <button class="btn btn-secondary ml-1 mr-1" >
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                    
                    <a href="/itens/edicao/<%= iten.id %>" class="btn btn-secondary mr-1 ml-1" ><i class="fa-solid fa-pen-to-square"></i></a>

                </li>
            <%  }) %>
        </ul>
    </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>



        <div class="modal-body">


            <input class="form-control" type="text" id="search" placeholder="Buscar produtos...">

            <div id="produtos">
                <% itens.forEach(item => { %>

                    <ul class="produto list-group " data-nome="<%= item.nome %>">

                        <li class="list-group-item" ><%= item.nome %> <a class="text-secondary" href="http://localhost:8070/detalhes/<%= item.id %>"><i class="fa-solid fa-circle-info"></i></a></li>
                        
                    </ul>
                <% }) %>
            </div>
         
        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
    </div>
  </div>



<script>
    const searchInput = document.getElementById('search');
        const produtos = document.querySelectorAll('.produto');

        searchInput.addEventListener('input', function() {
            const searchTerm = this.value.toLowerCase();

            produtos.forEach(produto => {
                const nome = produto.getAttribute('data-nome').toLowerCase();

                if (nome.includes(searchTerm)) {

                    produto.style.display = 'block'; // mostra o produto

                } else {

                    produto.style.display = 'none'; // oculta o produto
                }
            });
        });


document.getElementById('itemForm').onsubmit = function() {

    var precoInput = document.getElementById('preco');

    precoInput.value = precoInput.value.replace(',', '.');
    
};

</script>





<%- include('../partials/footer')-%>