<%- include('../partials/header.ejs') -%>
  <body>
     <ul class="list-group">

        <li class="list-group-item" >
            <a href="http://localhost:8080/invest">Investimentos</a>
            <a href="http://">Relatórios</a>
            <a href="http://localhost:8080/">Sair</a>
        </li>

     </ul>
 <div style="display: flex;" >

    <div class="card col-md-8">
        <div class="card-header">
            <h2>Edição de dados</h2>
        </div>
        <div class="card-body">
            <form action="/invest/atualizar" method="post">

                <input type="hidden" name="id" value="<%= investimento.id %>" >


                <label for="valor">valor</label>
                <input class="form-control" type="text" value="<%= investimento.valor %>" name="valor">

                <label for="descricao">descrição</label>

                <input class="form-control" type="text" value="<%= investimento.descricao %>" name="descricao">

                <label for="forma_pg">Forma de pagamento</label>

                <input class="form-control" type="text" name="forma_pg" value="<%= investimento.forma_pg %>">

                <button type="submit" class="btn btn-secondary mt-3" >Atualizar</button>

            </form>


        </div>
   </div>
    
                 
              
           
           


 </div>
</div>

</div>
  </body>


<%- include('../partials/footer.ejs') -%>